.form {
    &__container {
        border-radius: $border-radius;
        padding: 16px;
        background-color: $white;
        display: inline-grid;
        box-shadow: 0px 4px 3px 0px #c9c8c8;
        min-width: 300px;
    }
}