* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto";
  background-color: $light-grey;
  margin: 0;
}

.layout {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity:1;
  background-color: rgba(0, 0, 0, 0.25);
  animation: opacity 1s;
}

.btn {
  border-radius: $border-radius;
  background-color: $blue;
  color: $white;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;

  &__add {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 16px;
  }

  &__copy_table {
    font-weight: 300;
  }

  &__disabled {
    background-color: $grey;
  }
}

.container {
  padding: 24px;
  position: relative;

  &>div {
    margin-bottom: 2.5em;
  }
}

input {
  border-radius: $border-radius;
  padding: 16px;
  border: 2px solid $light-grey;
  margin-bottom: 8px;

  &:focus::placeholder {
    color: transparent;
  }
  &:focus-visible {
    outline: none;
  }
}

select {
  border-radius: $border-radius;
  padding: 16px;
  border: 2px solid $light-grey;

  & option:disabled {
    color: $light-grey
  }
  &:focus-visible {
    outline: none;
  }
}