.table {
    width: 100%;

    table {
        border-spacing: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
    }

    th,
    td {
        font-weight: normal;
        padding: 16px;
        text-align: left;
        min-height: 50px;
    }

    td {
        border: 1px solid $light-grey;
    }

    &__head {
        background-color: $dark-blue;
        color: $grey;
    }

    &__action_row {
        display: flex;
        align-items: center;
        float: right;
        margin-bottom: 20px;

        & div:first-child {
            margin-right: 16px;
        }

        &__delete {
            font-size: 40px;
            font-weight: 300;
            color: $red;
            cursor: pointer;
        }
    }
}